*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51);
  }
  .navigation li a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
  }
  .navigation li a:hover{
    text-decoration: none;
    background: #666;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -1.1%;


  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width:70px;
  }

  /* 中间导航 */
.centreNavigation{
   position: relative;
    /* background: orange; */
    height: 60px;
    margin-top: 5%;
  }
.logo_inner {
     position: relative;
     display: block;
      left: 14%;
     height: 100%;
    width: 108px;
    float: left;
}
.logo_inner img {
    height: 60px;
    width: 108px;
}

.logo_nav {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 20%;
    /* background: orange; */
}

.logo_nav a {
    position: relative;
    float: left;
    font-size: 20px;
    line-height: 50px;
    color: black;
}
.logo_nav .on{
    color: #ff6767
}
.logo_nav a:hover{
    color: #ff6767;
     text-decoration: none;
}
.logo_search {
    height: 100%;
    width: 250px;
    float: left;
    padding: 10px;
}


/* 全部排行*/
.centreNavigation2{
    height:34px;
    border-bottom:1px solid #ff6767;
    border-top:1px solid #ff6767;
    margin:auto;width:990px;
}
 .centreNavigation2 li{
     list-style: none;
    float:left;
    padding:0 2px;
    /* background: blue; */
}
.centreNavigation2 a{
    display:block;
    padding:0 3px;
    height:34px;
    font-size:14px;
    line-height:34px;
    color: #000;
    width: 62px;
    /* background: orange; */
}
.centreNavigation2 a.on{
    color:#ff6767;
}
.centreNavigation2 a:hover{
    color:#ff6767;
    text-decoration:none;
}
/* 图片 */
.centreimg{
    display: block;
    position: relative;
    left: 13.5%;
    margin-top: 1%;
    width: 990px;
    height: 90px;
}
/* 菜名 */
.dishesName{
    position: relative;
    /* left: 13.5%; */
    /* background: orange; */
    padding:15px 0 10px 0;
    width: 640px;
    height: 80px;
}
/* 头像 */
.dishesName a.uright{    
     float:right;
    width:100px;
  
}
.dishesName a.uright span{
    position: relative;
    display: block;
    text-align: center;
    left: -1%;
  

}
.dishesName a#recipe_title{
  
    display: block;
    /* background: pink; */
    float:left;
    width:535px;
  
    line-height:36px;
    padding:15px 0 0;
    font-size:32px;
    width: 535px;
    text-decoration:none;
    color:#333;
   
}
.dishesName a{
    font-size:12px;
    color:#999;
    text-decoration:none
}
.dishesName a:hover{
    color:#ff6767;
    text-decoration: none; 
}
.dishesName span{
    position: relative;
    display: block;
    left: 38%;
}
.dishesName img{
    width:34px;
    height:34px;
    border-radius:50%;
    display:block;
    margin:10px auto 2px;
}
/* 做菜步骤 */
.box{
    position: relative;
    /* left: 13.5%; */
    /* background: pink; */
    height:100%;
    width: 640px;
}
.recipeimg img{
    width: 640px;
}
.block_txt{
    position: relative;
    display: block;
    /* background: orange; */
    margin:30px 0 0 0;
    font-size:16px;
    height: 100%;
}
.mo{
    /* background: green; */
    position: relative;
    top: 40px;
    width: 640px;
    height: 50px;
}
.mo h3{
    position: relative;
    display: block;
    /* background: green; */
    font-size: 20px;
    width: 50%;
    padding: 0 10px;
    color: #ff6767;
}
.particulars{
    position: relative;
    display: block;
    /* background: orange; */
   margin-top: 3%;
    border-radius:15px;
    border:1px solid #ddd;
    height: 120px;
}
.particulars legend{
    font-size:16px;
    margin:0 35px;
    padding:0 10px;
}


.material li a{
    position: relative;   
    float: left;
    left: 10%;
    width: 80%;
   
}



/* 详细步骤 */
.dishesName1{
    position: relative;
    top: 2%;
    /* background: orange; */
    padding:15px 0 10px 0;
    width: 640px;
    height: 70px;
    
}

.dishesName1 a#recipe_title1{
    display: block;
    
    float:left;
    width:535px;
    line-height:36px;
    padding:5px 0 0;
    font-size: 20px;
    /* background: blue; */
    width: 535px;
    text-decoration:none;
    color:#ff6767;
   
}
.recipeStep{
  
    position: relative;
    top: 2%;
}
.recipeStep li{
    display:block;
    /* background: orange; */
    height: 170px;
    margin:0 0 40px 0;
}
.stepimg{
    width:240px;
    display:inline-block; 
}
.stepimg img{
    height: 170px;
    width:220px;
}
.stepword{
    position:relative;
    width:390px;
    display:inline-block;
    vertical-align:middle;
    font-size:16px;
}
.stepnum{
    border:1px solid #ddd;
    border-radius:50%;
    font-size:18px;
    height:34px;
    line-height:34px;
    position:absolute;
    text-align:center;
    top:-44px;
    width:34px;
} 
 /* 右边图片 */
.rightimg{
    position: absolute;
    top: 50%;
    left: 64.5%;
  }
  .rightimg img{
      width: 300px;
      height: 600px;
  }

  /* 评论 */
  .Iscomment{
      position: relative;
      display: block;
      left: 13.5%;
      height: 100%;
      width: 640px;
      /* background:orange; */
  }
  .commentPost{
      height: 30px;
      /* background: orange; */
  }
  .commentPost .loginbtn{
    height: 30px;
      width: 11%;
      float: right;
      color: #ddd;
      font-size: 14px;
      text-align: center;
      background: rgb(186,32,32);
      border: none;
  }
  .recipeContent{
      position: relative;
      /* background: pink; */
      width: 640px;
      left: 13.5%;
      height: 100%;
  }
  .footer{
     
    position: absolute;
    left: 12.5%;
    display: block;
    width: 990px;
    height: 150px;
    margin-top: 10%;
   
  }
  .message{
    
    color:#c90;
    font-size:14px;
    font-weight:700;
    margin-bottom:6px;
   
    
  }
  .message a{
    width: 100%;
    
    color:#f50;
   
  }

  .displayComment{
      position: relative;
      display: block;
      
      width: 640px;
      /* background: pink; */
      height: 100%;

  }
  .displayComment li{
      position: relative;
      display: block;
      height: 100%;
  }
  .icon{
      position: relative;
      display: block;
      /* background: #000; */
      width: 60px;
  }
  .icon img{
      display: block;
      width:48px;
     height:48px;
     border-radius: 100%; 
  }
  .detail{
      position: relative;
      display: block;
      width: 580px;
     /* background: orange; */
     float: right;
     top: -50px;
     margin:0 1px 0;
    
  }
  .content{
      position: relative;
      display: block;
      /* background: green; */
      margin:10px 0 0;
  }
  /* .click{
      position: relative;
      top: -10px;
  } */