*{
    margin:0;
    padding:0;
}
.top-bar{
    height: 40px;
    width: 100%;
    background-color:palevioletred;
 }
 .top-bar .right{
     float: right;
 }
 div li{
    float: left;
    list-style: none;
    line-height: 35px;
  }
  div a{
    text-decoration: none;
    color: white;
    display: inline-block;
    width:70px;
    font-size: 15px;
  }
.logo_wrap2{

    height: 60px;
}
.logo_inner {
    height: 100%;
    width: 108px;
    float: left;
    margin-left: 13%;

}
.logo_inner img{
     height: 60px;
     width: 108px;
}

.logo_nav{
    height:100%;
    width: 40%;
    float: left;
    margin-left: 7%
}
.logo_nav a{
   
    position:relative;
    float:left;
    font-size:20px;
    line-height:50px;
    color:palevioletred;
}

.logo_search{
    height: 100%;
    width: 250px;
    float: left;
    padding: 15px;

}
.carousel-inner{
    left: 12.5%;
}
.carousel-control-prev{

    left: 28%;
    background: #000;
    height: 20%;
    width: 3%;
    position: absolute;
    top: 40%

}
.carousel-control-next{
   background: #000;
   position: absolute;
    right: 16%;
    height: 20%;
    width: 3%;
    top: 40%;

}
.carousel-inner a{
    display: block;
    width: 990px;
    height: 360px;
}

 .w1_1{
    position: absolute;
    left:12.5%;
    top:19.5%;
    width:200px;
    height:360px;
    padding:30px 0 0;
    background:rgba(68,68,68,.4);
    z-index:4;
}

 .w1_1 li a.list-group-item{
    display:block;
    color:white;
    width: 15%;
    line-height:20px;
    padding:20px 20px;
    background-color: rgba(68,68,68,0.01);
    border: 0px;
    font-size: 20px;
}
.w1_1 li a.list-group-item:hover{
    background:#ff6767;
    text-decoration:none;
    width: 180px;
}

.tab-content{
    position: relative;
    left: 4%;
  
}

ul{
    list-style: none;
}
/* 清楚margin-top塌陷 */
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
/* 清楚浮动 */
.clearfix::after{
    clear: both;
}
#myTab{
    position: relative;
    left: 12.5%;
    font-size: 20px;
    /* background: rgb(211, 168, 209); */
    width: 990px;
    top: 20px;
  
}
#myTab li a{
    color: palevioletred;
    background: white;
  
  
}
#myTabContent{
    position: relative;
    top:20px;
    left: 12.5%;
    height: 1600px;
    width: 990px;
    /* background-color: #ff6767; */
    border: 1px solid #ddd;
    /* 多出来的ul要剪掉 */
    overflow: hidden;
}
#myTabContent ul{
    display: block;
    width: 1070px;
    /* background: #000; */
    margin: 20px 0 0 0;
}
#myTabContent ul li{

    width:230px;
    height:305px;
    /*多个div在一个页面上，默认情况是：一行一个div，但是只要在div的css中使用
    float：left，可以使一行有多个div，这样可以把网页划分成很多块，
    但是使用该属性会影响后面的元素，所有如果后面的div不想再被影响，
    可以使用clear:both；
    可以理解为清除float:left和float:right的影响，返回到默认状态。*/
    float:left;
    margin:0 23px 0 0;
    text-align: center;
    overflow: hidden;
    /* background: orange; */

}
#myTabContent li a img{
    position: relative;
    width:230px;
    height:230px;
    left: -80px;
}
#myTabContent p{
    font-size:18px;
    line-height:120%;
    padding:8px 0 2px;
    color: #000;
    text-align: center;
}




