*{
    margin:0;
    padding:0;
}
body{
    background-image: url('bg.jpg');  
    background-repeat: no-repeat;
    background-size: 100%;
}
.top-bar{
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51);
}
.top-bar .right{
    margin-top: -0.65%;
    float: right;
}
div li{
    margin-top: -0.65%;
    float: left;
    list-style: none;
    line-height: 42px;
}
div li a:hover{
    text-decoration: none;
    background: #666;
}
div a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
    text-decoration: none;
   
    display: inline-block;
    width:70px;
}
.login{
    width: 450px;
    height: 250px;
    margin-left: 36%;
    margin-top: 110px;
    position: relative;
    background-color: aqua;
}
.loginbox{
    height:220px;
    background:orange;
    position:absolute;
    width: 450px;
    text-align: center
}
.loginbox_c{
    height:220px;
    background:#faebd7;
    width: 450px;
    margin-top: 50px;
    position: absolute
}
.register-left{
    height:50px;   
    font-size: 20px;
    background: #faebd7;
    position:relative;
    width: 50%; 
    line-height: 50px;
    float: left;
    
}
.register-left a{
    color:black;
}
.login-right{
    height:50px;   
    font-size: 20px;
    background: rgb(51, 51, 51);
    position:relative;
    width: 50%;
    float: left;
    line-height: 50px;
}
.login-right a{
    color:white;
}
.loginbox_c  .loginFormLeft {
    width: 70%;
    height: 80%;
    position: relative;
    background-color: antiquewhite;
    float: left;
 }
 
 .loginbox_c  .headPortrait {
    width: 30%;
    height: 80%;
    position: absolute;
    right: -5px;
    top:30px;
    float: left;
  }
  .loginbox_l{
    float:left;
    width:250px;
    padding:20px;
    border-right:1px solid #999;
    margin:0 0 0
}

.loginbox_l ul li input{
    display: block;
    height: 35px;
    width: 245px;
}
.loginbtn{
    height:40px;
    line-height:40px;
    border-radius:4px;
    background:#ff6767;
    color:#fff;
    font-size:18px;
    width:100%;
    text-align:center;
    border:0;
    cursor:pointer;
    margin:10px 0 0
}

.login .headPortrait{
    overflow:hidden;
    position:relative;
   left: -1%;
  
    z-index:70;
    border:#ccc solid 1px;
    width: 120px;
    height: 120px;
    background:#f7f7f7;
    text-align:center;
    cursor:pointer;
    border-radius: 100%;
  }
  .headPortrait p{
    font-size:12px;
    color:#a1a1a1;
  }
  .headPortrait p.p1{
    margin-top:65px;
    font-size:14px;
    margin-bottom:3px;
    color:#5b5b5b;
  }
  .headPortrait input.file{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:90;
    opacity:0;
    cursor:pointer;
  }
ul li {
    padding-top: 10px
}