*{
    margin:0;
    padding:0;
}
body{
    background-image: url('bg.jpg');  
    background-repeat: no-repeat;
    background-size: 100%;
}
.top-bar{
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51,0.8);
}
.top-bar .right{
    margin-top: -0.65%;
    float: right;
}
div li{
    margin-top: -0.65%;
    float: left;
    list-style: none;
    line-height: 42px;
}
div li a:hover{
    text-decoration: none;
    background: #666;
}
div a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
    text-decoration: none;
   
    display: inline-block;
    width:70px;
}
.login{
    position: relative;
    width: 400px;
    height: 380px;
    margin-left: 36%;
    margin-top: 110px;
    background: rgba(255,255,255,0.7);
}
.loginbox{
    position: relative;
    height:50px;
    width: 400px;
    text-align: center;
    
    }
.loginbox  p{
    position: relative;
    height: 35px;
    width: 400px;
    font-size: 25px;

    top:15px;
    }



.loginbox_l ul li input{
    position: relative;
    display: block;
    left: 12%;
    height: 40px;
    margin: 10px 0 10px;
    width: 320px;
    font-size: 18px;

}



.loginbtn{
    height:40px;
    line-height:40px;
    border-radius:4px;
    background:#ff6767;
    color:#fff;
    font-size:18px;
    width:320px;
    text-align:center;
    border:0;
    cursor:pointer;
    margin:40px 40px;
}



ul li {
    padding-top: 10px
}

.addicon{  
    overflow:hidden;
    position:relative;
    top:10px;   
    left:38%;
    margin: 0 10px 10px;
    z-index:70;
    border:#ccc solid 1px;
    width:70px;
    height:70px;
    border-radius: 100%;
    background-color:#f7f7f7;
    text-align:center;
    cursor:pointer;
}
.addicon p{
    font-size:12px;
    color:#a1a1a1;
}
.addicon p.p1{
    margin-top:30px;
    font-size:14px;
    margin-bottom:3px;
    color:#5b5b5b;
}
.addicon input.file{
    width:100px;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    z-index:90;
    opacity:0;
    cursor:pointer;
}