*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 42px;
   width: 100%;
   background-color:  rgb(51, 51, 51);
  }
  .navigation li a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
  }
  .navigation li a:hover{
    text-decoration: none;
    background: #666;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -1.1%;
  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width:70px;
  }
/* 左侧导航栏 */

.menuLeft{
    width:110px;
    height:100%;
    background:#f8f8f8; 
    /* background:pink;  */
}
.menu{
    text-align:center;
    font-size:16px;
    
    padding:60px 0 10px 15px;
}
.menu li{  
    border-bottom:1px solid #e0e0e0;
    position:relative;
}
.menu a{
    display:block;
    padding:12px 5px;
    color: #000;
}
.menu a.on,.menu a:hover{
    text-decoration:none;
    color:#ff6767;
    /* background-color:#eee; */
}
.releaseTopic{
    
    position: relative;
    left: 10%;
   width: 1200px;
   font-size: 20px;
   margin-top: -17%;
   
}
.releaseTopic a {
    display: block;
    width: 100px;
    color: #333;
    background: white;
    text-align: center;
  
}
.releaseTopic a:hover{
    text-decoration: none;
  }

  .mr_edit{
    position: relative;
    left: 11%;
    width: 1000px;
    height:3000px;
    /* background-color: #eaec6c; */
    
    overflow: hidden;
    margin: 20px 10px 0 0;
  
}
.mr_edit li{  
    padding:0 0 15px 0;
}
.mr_edit label{
    color:#888;
}
.mr_edit .must:after{
    content:'*';
    color:red;
}
.mr_edit .tip{
    color:#999
}
.mr_edit input{
    font-size:14px;
    margin:5px 0;
    border:1px solid #ccc;
    height:24px;
    line-height:24px;
    text-indent:1%;
    padding:3px 0;
}
.mr_edit textarea{
    font-size:14px;
    width:98%;
    margin:5px 0;
    border:1px solid #ccc;
    resize:both;
    height:120px;
    padding:3px 1%;
}
.mr_edit input.inputL{width:100%;}
/* .mr_edit input.inputM{width:50%;}
.mr_edit input.inputS{width:25%;} */
/* 发布菜谱按钮.mr_edit input.btn1{background:#ff6767;border:1px solid #ff6767;color:#fff;border-radius:3px;cursor:pointer;font-size:16px;height:38px;margin-right:16px;width:140px} */





