*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51);
  }
  .navigation li a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
  }
  .navigation li a:hover{
    text-decoration: none;
    background: #666;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -0.7%;


  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  /* color: white; */
  display: inline-block;
  width:70px;
  }

  /* 中间导航 */
.centreNavigation{
   position: relative;
    /* background: orange; */
    height: 60px;
    margin-top: 5%;
  }
.logo_inner {
     position: relative;
     display: block;
      left: 14%;
     height: 100%;
    width: 108px;
    float: left;
}
.logo_inner img {
    height: 60px;
    width: 108px;
}

.logo_nav {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 20%;
    /* background: orange; */
}

.logo_nav a {
    position: relative;
   float: left;
   font-size: 20px;
   line-height: 50px;
   color: black;
}
.logo_nav .on{
    position: relative;
    display: block;
    width: 70px;
    color: #ff6767
}
.logo_nav a:hover{
    color: #ff6767;
     text-decoration: none;
}
.logo_search {
    height: 100%;
    width: 250px;
    float: left;
    padding: 10px;
}


/* 全部话题 */
.centreNavigation2{
    height:34px;
    margin:auto;
    width:990px;
 
  
}

.centreNavigation2 li a{
    display:block;
    width: 100px;
 
}


/* 图片 */
.centreimg{
    display: block;
   position: absolute;
    left: 13.5%;
    margin-top: 1%;
    width: 990px;
    height: 90px;
}   
/* 标题 */
.title{
    position: relative;
    margin-top: 2%;
    left: 14%;
    /* background:blue; */
    height: 36px;
    width: 990px;
}
.title a{
    display: block;
    float: left;
    font-size: 25px;
    width: 100px;
    color: #ff6767;
}
.title a:hover{
    text-decoration: none;   
}
/* 话题部分 */
#topic{
    position: relative;
    margin-top: 15%;
    width:640px;
    height: 100%;
    
}
#topic li {
    position: relative;
    float: left;
    height: 250px; 
    width: 640px;
    
  }
  .left { 
    display: block;
    width: 640px;
   
    height: 50px;
    
   }
.left img {
    display: block;
    position: relative;
    left: 30%;
    height: 40px;
    width: 40px;
    border-radius:100%;
    float: left;
  }
.left div{
  
    float: right;
    width:570px;
    height: 40px;
    position: relative;
    line-height: 30px;
    position: relative;
    width: 88%;
    margin-top: -5%;
   }

  .left .name a{
    position: relative;
     display: block;
     font-size:14px;
     /* background: red; */
     width: 100%;
     height: 30px;
     float: left;
     
  }
  .left .name span{
      position: relative;
      display: block;
      margin:40px 0 5px;
      /* background: blue; */
      font-size: 14px;
      color: #666;

  }
.down{
    display:block;
    position: relative;
   /* background: orange; */
    width: 560px;
    left: 12%;
    height: 200px;
    margin-top: 2%;
  
  }
  .down .pp{
    display:block;
    position: relative;
    width: 560px;
    line-height: 20px;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 17px;
    color:#666;
    cursor:pointer;
  }
  .down .pp:hover{
      color:blue;
  }
 .huati{
    float: left;
    margin:10px 40px 0 0;
 }
.clear img {
   display: block;
   position: relative;
   float: left;  
   height: 100px;
   width: 100px;
   cursor:pointer;
  }

  /* 发布话题 */
  .r_pai-add{display:block;
    height:44px;
    line-height:44px;
    font-size:20px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    background:#ff6767;
    border-radius:5px;
    width:100%;
}
 .release{
      position: absolute;
      top: 50%;
      left: 64.5%;
      height: 44px;
      width: 300px;
  }


  .rightimg{
    position: absolute;
    top: 61%;
    left: 64.5%;
  }
  .rightimg img{
      width: 300px;
      height: 600px;
  }
  .footer{
    position: relative;
    /* background: orange; */
    display: block;
    margin-top: 100%;
    left: 18%;
    width: 990px;
    height: 150px;
   
  }
  .message{
    
    color:#c90;
    font-size:14px;
    font-weight:700;
    margin-bottom:6px;
   
    
  }
  .message a{
    width: 100%;
    
    color:#f50;
   
  }