*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51);
  }
  .navigation li a{
    color: rgb(223, 217, 217);
    font-size: 17px;
    text-align: center;
  }
  .navigation li a:hover{
    text-decoration: none;
    background: #666;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -1.1%;


  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width:70px;
  }

  /* 中间导航 */
.centreNavigation{
   position: relative;
    /* background: orange; */
    height: 60px;
    margin-top: 5%;
  }
.logo_inner {
     position: relative;
     display: block;
      left: 14%;
     height: 100%;
    width: 108px;
    float: left;
}
.logo_inner img {
    height: 60px;
    width: 108px;
}

.logo_nav {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 20%;
    /* background: orange; */
}

.logo_nav a {
    position: relative;
    float: left;
    font-size: 20px;
    line-height: 50px;
    color: black;
}
.logo_nav .on{
    color: #ff6767
}
.logo_nav a:hover{
    color: #ff6767;
     text-decoration: none;
}
.logo_search {
    height: 100%;
    width: 250px;
    float: left;
    padding: 10px;
}


/* 全部排行*/
.centreNavigation2{
    height:34px;
    border-bottom:1px solid #ff6767;
    border-top:1px solid #ff6767;
    margin:auto;width:990px;
}
 .centreNavigation2 li{
     list-style: none;
    float:left;
    padding:0 2px;
    /* background: blue; */
}
.centreNavigation2 a{
    display:block;
    padding:0 3px;
    height:34px;
    font-size:14px;
    line-height:34px;
    color: #000;
    width: 80px;
    /* background: orange; */
}
.centreNavigation2 a.on{
    color:#ff6767;
}
.centreNavigation2 a:hover{
    color:#ff6767;
    text-decoration:none;
}
/* 图片 */
.centreimg{
    display: block;
    position: relative;
    left: 13.5%;
    margin-top: 1%;
    width: 990px;
    height: 90px;
}

/* 话题部分 */
.topic{
    width: 640px;
    height: 640px;
    position: relative;
    left: 13.5%;
    /* background: pink; */
}
.topic li {
    position: relative;
    /* background:blue; */
    padding: 10px 0;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 640px;
  }

.left div{
    /* background:wheat; */
    float: right;
    width:570px;
    height: 40px;
    position: relative;
    line-height: 30px;
   }
  
.topicContent .left a{
  
   display: block;
   width: 15px;
   white-space:nowrap;
   float: left;
   /* background: green; */
  

  }
  .left img {
    display: block;
    position: relative;
    height: 60px;
    width: 60px;
    border-radius:100%;
    float: left;
  }
  .left .name a{
      font-size:14px;
      color: rgb(28, 177, 247);
      display: block;
      position: relative;
      width: 100%;
      float: left;
      
  }

.down{
   
    position: relative;
    top: 50px;
    background: #a0dafc; 
    width:560px;
    left: 12%;
    height: 100%;
   
  } 
.down div{
    display: block;
    position: relative;
    background: pink;
    width: 560px;
   /* text-align: center */
  
}

.clear img {
    display: block;
    height: 500px;
    width: 500px;
  }


 /* 右边图片 */
.rightimg{
    position: absolute;
    top: 50%;
    left: 64.5%;
  }
  .rightimg img{
      width: 300px;
      height: 600px;
  }

  /* 评论 */
  .Iscomment{
      height: 200px;
      width: 100%;
      background: blue;
  }
  .img111{
     margin: 70px 0;
    width:640px;
    height:90px;
    /* background: #000; */
    
  }
  .recipeContent{
      position: relative;
      /* background: pink; */
      width: 640px;
      left: 13.5%;
  }

  .footer{
    position: absolute;
    left: 12.5%;
    display: block;
    width: 990px;
    height: 150px;
   
  }
  .message{
    
    color:#c90;
    font-size:14px;
    font-weight:700;
    margin-bottom:6px;
   
    
  }
  .message a{
    width: 100%;
    
    color:#f50;
   
  }