*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 40px;
   width: 100%;
   background-color: palevioletred;
  }
.navigation li a{
    color: white;
    font-size: 17px;
  }
.navigation li a:hover{
    color: rgb(231, 197, 151);
    text-decoration: none;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -1.1%;


  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width:70px;
  }

  /* 中间导航 */
.centreNavigation{
   position: relative;
    /* background: orange; */
    height: 60px;
    margin-top: 5%;
  }
.logo_inner {
     position: relative;
     display: block;
      left: 14%;
     height: 100%;
    width: 108px;
    float: left;
}
.logo_inner img {
    height: 60px;
    width: 108px;
}

.logo_nav {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 20%;
    /* background: orange; */
}

.logo_nav a {
    position: relative;
    float: left;
    font-size: 20px;
    line-height: 50px;
    color: black;
}
.logo_nav .on{
    color: #ff6767
}
.logo_nav a:hover{
    color: #ff6767;
     text-decoration: none;
}
.logo_search {
    height: 100%;
    width: 250px;
    float: left;
    padding: 10px;
}


/* 全部排行*/
.centreNavigation2{
    height:34px;
    border-bottom:1px solid #ff6767;
    border-top:1px solid #ff6767;
    margin:auto;width:990px;
}
 .centreNavigation2 li{
     list-style: none;
    float:left;
    padding:0 2px;
    /* background: blue; */
}
.centreNavigation2 a{
    display:block;
    padding:0 3px;
    height:34px;
    font-size:14px;
    line-height:34px;
    color: #000;
    width: 62px;
    /* background: orange; */
}
.centreNavigation2 a.on{
    color:#ff6767;
}
.centreNavigation2 a:hover{
    color:#ff6767;
    text-decoration:none;
}
/* 标题 */
.title{
    position: relative;
    margin-top: 2%;
    left: 14%;
    /* background:blue; */
    height: 36px;
    width: 990px;
}
.title a{
    display: block;
    float: left;
    font-size: 25px;
    color: #ff6767;
}

/* 排行列表 */
.ranklist li{
    position: relative;
    display: block;
    
    width: 990px;
    left: 14%;
    padding: 0 0 10px 0;
    clear:both;
    /* background: powderblue; */
    height: 220px;
}
 .ranklist li h2 a{
     /* background: orange; */
     display: block;
     width: 50%;
     margin-top: 18px;
     font-size:20px;
     padding:3px 0 10px;
     color: #000;
}
.ranklist li h2 a:hover{
    text-decoration: none;
    color: #ff6767;
}

.ranklist .pic{

    float:left;
    height:180px;
    width:180px;
    margin:30px 0 20px;
    /* overflow:hidden; */
    position:relative;
}

.ranklist .detail{
    color:#333;
    padding:16px 0 0 200px;
    font-size:14px;
}
.ranklist .subline a{
    color:#999;
}
.ranklist li img{
    height: 180px;
    width: 180px;
    -moz-transition:all .5s ease-in-out;  /*ease-in-out：（加速然后减速）*/
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.ranklist li:hover img{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
 /* 分页 */
.Pagination{
    position: relative;
    left: 35%;
    text-align: center;
    font-size: 10px;
}