*{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
.navigation{
      position: absolute;
    top: 0px;
   height: 42px;
   width: 100%;
   background-color: rgb(51, 51, 51);
  }
.navigation li a{
    color: rgb(211, 211, 211);
    font-size: 17px;
  }
.navigation li a:hover{
    color: rgb(231, 197, 151);
    text-decoration: none;
  }
.navigation .right{
    position: relative;
    float: right;
    margin-top: -1.1%;


  }
.navigation .right img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
.navigation li{
    float: left;
    list-style: none;
    line-height: 40px;
  }
div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width:70px;
  }

  /* 中间导航 */
.centreNavigation{
   position: relative;
    /* background: orange; */
    height: 60px;
    margin-top: 5%;
  }
.logo_inner {
     position: relative;
     display: block;
      left: 14%;
     height: 100%;
    width: 108px;
    float: left;
}
.logo_inner img {
    height: 60px;
    width: 108px;
}

.logo_nav {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 20%;
    /* background: orange; */
}

.logo_nav a {
    
    float: left;
    font-size: 20px;
    line-height: 50px;
    color: black;
}
.logo_nav .on{
    position: relative;
    display: block;
    width: 100px;
    color: #ff6767
}
.logo_nav a:hover{
    color: #ff6767;
     text-decoration: none;
}
.logo_search {
    height: 100%;
    width: 250px;
    float: left;
    padding: 10px;
}


/* 全部菜谱 */
.centreNavigation2{
    height:34px;
    border-bottom:1px solid #ff6767;
    border-top:1px solid #ff6767;
    margin:auto;width:990px;
}
 .centreNavigation2 li{
     list-style: none;
    float:left;
    padding:0 2px;
    /* background: blue; */
}
.centreNavigation2 a{
    display:block;
    padding:0 3px;
    height:34px;
    font-size:14px;
    line-height:34px;
    color: #000;
    width: 75px;
    /* background: orange; */
}
.centreNavigation2 a.on{
    color:#ff6767;
}
.centreNavigation2 a:hover{
    color:#ff6767;
    text-decoration:none;
}
/* 标题 */
.title{
    position: relative;
    margin-top: 2%;
    left: 14%;
    /* background:blue; */
    height: 36px;
    width: 990px;
}
.title a{
    display: block;
    float: left;
    font-size: 25px;
    width: 100px;
    color: #ff6767;
}
.title a:hover{
    text-decoration: none;   
}
/* 话题部分 */
.topic{
    position: relative;
    left: 13%;
    /* background:rgb(177, 233, 139); */
    height:1600px;
    width:640px;
}
.topic li {
    /* background:blue; */
    padding: 10px 0;
    float: left;
    height: 250px;
    overflow: hidden;
    width: 640px;
  }
.left img {
    display: block;
    position: relative;
    left: 30%;
    height: 40px;
    width: 40px;
    border-radius:100%;
  }
.left div{
    /* background:wheat; */
    float: right;
    width:570px;
    height: 50px;
    position: relative;
    line-height: 30px;
   }
  
.left a{
   color:#111;
   display: block;
   font-size:14px;
   white-space:nowrap;
   float:left;
   
  }
.left span{
   color:#666;
   font-size:10px;
   float:left;
   /* clear:both; */
   line-height:100%;
  }
.down{
    display:block;
    position: relative;
    top: 50px;
    /* background: #650900; */
    height: 30px;
    line-height: 20px;
    padding:2px 0 0 71px;
    text-overflow:ellipsis;  /*文本溢出用省略号表示  */
    white-space:nowrap; 
   
  }
.down a{
    color:#666;
  }
  
.down a.clear{
   display: block;
   position: relative;
   top: -14px;
   float:left;
  }
.clear img {
    height: 100px;
    width: 100px;
  }
.down span{
   clear:both;
   float:left;
  
   font-size:12px;
   color:#666;
   line-height:100%;
  }
  /* 右边图片 */
.rightimg{
    position: absolute;
    top: 30%;
    left: 64.5%;
  }
  .rightimg img{
      width: 300px;
      height: 600px;
  }